**/Debug
**/Release
TODO
**/*.obj
**/ipch
**/*.opensdf
**/*.sdf
**/*.suo
**/*.user
**.[ado]
/game

.DS_Store
DerivedData

saturn/BuildDrop/
**/*.o
**/*.elf
**/*.iso
**/*.cue
**/*.bin.tmp

SaturnRingLib/Compiler/
SaturnRingLib/tools/bin/

cmake-build-*/

.superpowers/

**/__pycache__/

saturn/tests/run_tests_*

saturn/cd/data/BANK*
saturn/cd/data/bank*
saturn/cd/data/MEMLIST.BIN
saturn/cd/data/memlist.bin

saturn/cd/data/0.bin
saturn/cd/data/BOOTSND.MAP
saturn/cd/data/SDDRVS.DAT
saturn/cd/data/SDDRVS.TSK
saturn/cd/data/3BANDANA.EXB

/*.md
!/README.md
!/LICENSE.md
/*.gen
/*.smd
/*.7z
/*.zip

.ai/
.claude/
.idea/

tools/assets/avi/
